.user-info {
    background-color: #b42a2a;
    display: flex;
    justify-content: center;
    align-content: center;
  }

.user-image {
    margin-top: 35px;
}

.user_info{
    display: flex;
    justify-content: center;
    align-content: center; 
    text-align: center;
    align-items: center;
    text-align: justify;
}

.bienvenido_usuario{
    color: white;
    margin-top: 30px;
}

.database_login {
    background-color: #F5F5F5;
}

.drop_proyectos{
    margin-top: 30px;
    margin-bottom: 200px;
}

.bienvenido_usuario_logueado{
    color: white;
    margin-top: 30px;

}

.table {
    overflow: auto;
    overflow-x: auto;
    width: calc(100% - 3px);
    display: block;
    table-layout: auto;
}

#hp  {
    float: left;    
     margin: 0 0 0 15px;
}