.user-info {
    background-color: #b42a2a;
    display: flex;
    justify-content: center;
    align-content: center;
  }

.user-image {
    margin-top: 35px;
}

.user_info{
    display: flex;
    justify-content: center;
    align-content: center; 
    text-align: center;
    align-items: center;
    text-align: justify;
}

.bienvenido_usuario{
    color: white;
    margin-top: 30px;
}

.database_login {
    background-color: #F5F5F5;
}

.drop_proyectos{
    margin-top: 30px;
    margin-bottom: 50px;
}

.bienvenido_usuario_logueado{
    color: white;
    margin-top: 30px;

}



#hp  {
    float: left;    
     margin: 0 0 0 15px;
}
     
.closing{
    padding: 0px 0px 0px 10px;
    border: none;
    background: none;
}

.closing1{
    padding: 0px;
    border: none;
    background: none;
}

.mensaje {
    font-weight: normal;
}

.table{
    display: block;
    overflow: auto;
    height: 850px;
    width: 1250px;
}

thead, tbody tr {
    display: table;
    width: 300%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}